html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit; /* stylelint-disable-line */
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote::before, blockquote::after,
q::before, q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *::before, *::after { /* stylelint-disable-line */
  box-sizing: inherit;
}
.hidden {
  display: none;
  width: 0;
  height: 0;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  opacity: 0;
}

.hidewrap {
  width: 0;
  height: 0;
  overflow: hidden;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.full {
  width: 100%;
}

.half {
  width: 50%;
}

.wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
body {
  font-size: 62.5%;
}

/* --- General ------------------------------------------------------------------------ */

.logo {
  position: absolute;
  display: block;
  width: 60px;
  height: 60px;
  top: 15px;
  left: 15px;
  background-image: url(/assets/img/districtMusicLogo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

/* --- Search & Suggest ------------------------------------------------------------------ */

.search-bar {
  position: absolute;
  display: block;
  width: calc(100vw - 200px);
  height: auto;
  top: 25px;
  left: 100px;
}

.search-query {
  position: relative;
  display: block;
  width: 100%;
  height: 40px;
  padding: 0 10px;
  border: none;
  background-color: rgb(240, 240, 240);
  color: #1a1a1a;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 2em;
  z-index: 70;
}

.search-query[disabled] {
  background-color: gainsboro;
  z-index: 0;
}

/* --- Notifications ------------------------------------------------------------------ */

.notifications {
  position: fixed;
  display: block;
  width: 100vw;
  height: 42px;
  left: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 70;
}

.notification {
  position: absolute;
  display: block;
  width: 100vw;
  height: 42px;
  -webkit-transition: bottom .3s ease-in-out 0s;
  transition: bottom .3s ease-in-out 0s;
}

.notification.hide {
  bottom: -42px;
}

.notification.show {
  bottom: 0;
}

.notifText {
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 84px);
  color: white;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  font-family: Roboto, sans-serif;
}

.notification.success,
.notification.success .icon {
  background-color: #60ac7b;
}

.notification.success .icon {
  background: url(/assets/img/successIcon.jpg) transparent 5px 50% no-repeat;
}

.notification.info,
.notification.info .icon {
  background-color: #299cbb;
}

.notification.info .icon {
  background: url(/assets/img/infoIcon.jpg) transparent 5px 50% no-repeat;
}

.notification.error,
.notification.error .icon {
  background-color: #fb624a;
}

.notification.error .icon {
  background: url(/assets/img/cancelButtonIcon.jpg) transparent 5px 50% no-repeat;
}

/* --- Profile ----------------------------------------------------------------------- */

.profile {
  position: fixed;
  display: block;
  width: 70px;
  height: 70px;
  top: 10px;
  right: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow: hidden;
  background-color: rgba(66, 66, 66, 0);
  -webkit-transition: all .3s ease-out 0s;
  transition: all .3s ease-out 0s;
  z-index: 40;
}

.profile:focus,
.notification:focus {
  outline: none;
  /*border: none;*/
}

.profile:hover,
.profile:focus {
  height: 120px;
  background-color: rgba(66, 66, 66, 1);
  cursor: pointer;
}

.profile-img {
  position: absolute;
  display: block;
  top: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image: url(/assets/img/defaultProfile.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-transition: all .3s ease-out 0s;
  transition: all .3s ease-out 0s;
}

.profile:hover .profile-img,
.profile:focus .profile-img {
  outline: none;
  border: 2px solid rgba(254, 254, 254, 1);
}

.profile:hover .profile-options,
.profile-options.show {
  /*display: block;*/
  opacity: 1;
}

.profile-options {
  position: absolute;
  /*display: none;*/
  width: 50px;
  height: auto;
  top: 65px;
  right: 10px;
  opacity: 0;
}

.profile-options ul li {
  display: block;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.profile-options ul li span {
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  opacity: 0;
  -webkit-transition: all .5s ease-in .1s;
  transition: all .5s ease-in .1s;
}

.profile:focus .profile-options ul li span,
.profile:hover .profile-options ul li span {
  opacity: 1;
}

.profile-options ul li .btn-login {
  background-image: url(/assets/img/loginButton.svg);
}

.profile:focus .profile-options ul li .btn-login,
.profile-options ul li .btn-login:hover {
  background-image: url(/assets/img/loginButtonHover.svg);
}

.profile-options ul li .btn-logout {
  background-image: url(/assets/img/logoutButton.svg);
}

.profile:focus .profile-options ul li .btn-logout,
.profile-options ul li .btn-logout:hover {
  background-image: url(/assets/img/logoutButtonHover.svg);
}

/* --- Login Modal -------------------------------------------------------------------------- */

.lightbox {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 33, 33, .4);
  z-index: 50;
}

.login-modal {
  position: fixed;
  display: block;
  width: 300px;
  height: 320px;
  left: calc(50vw - 150px);
  top: calc(50vh - 160px);
  background-color: white;
  border-radius: 5px;
  z-index: 60;
}

.login-modal--logo {
  position: absolute;
  display: block;
  width: 160px;
  height: 160px;
  left: calc(50% - 80px);
  top: -11px;
  background-image: url(/assets/img/districtMusicLogo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.google-signin,
.login-modal--btn-cancel {
  position: absolute;
  display: inline-block;
  width: 200px;
  height: 42px;
  left: calc(50% - 100px);
  border-radius: 5px;
  box-shadow: 1px 1px 2px rgba(125, 125, 125, .5);
  white-space: nowrap;
  overflow: hidden;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  width: 42px;
  height: 42px;
}

.buttonText {
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 42px);
  color: rgb(33, 33, 33);
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  font-family: Roboto, sans-serif;
}

.login-modal--btn-cancel {
  bottom: 20px;
  background-color: rgb(240, 240, 240);
}

.login-modal--btn-cancel .icon {
  background: url(/assets/img/cancelButtonIcon.jpg) transparent 5px 50% no-repeat;
  background-color: #fb624a;
}

.google-signin {
  bottom: 75px;
  background-color: rgb(240, 240, 240);
}

.google-signin :hover,
.login-modal--btn-cancel :hover {
  cursor: pointer;
}

.google-signin .icon {
  background: url(https://google-developers.appspot.com/identity/sign-in/g-normal.png) transparent 5px 50% no-repeat;
  background-color: white;
}

/*# sourceMappingURL=style.css.map*/