@import 'reset';
@import 'defaultClasses';

:root {
  --dark: #1a1a1a;
  --dark-grey: #a8a8a8;
  --light-grey: #c6c6c6;
  --gainsboro: gainsboro;
  --red: #fb624a; /* error */
  --blue: #299cbb; /* info, notify */
  --green: #60ac7b; /* success */
  --gold: #fecb58; /* veto */
}

body {
  font-size: 62.5%;
}

/* --- General ------------------------------------------------------------------------ */

.logo {
  position: absolute;
  display: block;
  width: 60px;
  height: 60px;
  top: 15px;
  left: 15px;
  background-image: url(../assets/img/districtMusicLogo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.lightbox {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 33, 33, .7);
  z-index: 50;
}

.progress {
  position: fixed;
  display: block;
  width: 0;
  height: 3px;
  top: 0;
  left: 0;
  z-index: 70;
  opacity: 0;
  transition: width 2s ease-in-out 0s, background .5s ease-in-out 0s;
}

.show {
  opacity: 1;
}

.progress.appear-busy {
  width: 80%;
}

.red {
  background-color: var(--red);
}

.blue {
  background-color: var(--blue);
}

.green {
  background-color: var(--green);
}

/* --- Audio Player ---------------------------------------------------------------------- */

.audio-player-wrapper {
  position: fixed;
  display: block;
  width: 100vw;
  height: 50px;
  bottom: 0;
  left: 0;
  background-color: #272822;
  overflow: hidden;
}

.wave-pos-wrapper {
  position: absolute;
  display: block;
  width: 80vw;
  height: 40px;
  top: 5px;
  left: 10vw;
}

/* --- Playlist Queue -------------------------------------------------------------------- */

.playlist-queue {
  position: relative;
  display: block;
  height: auto;
  top: 110px;
}

.playlist-header {
  position: absolute;
  display: block;
  width: 100%;
  height: 40px;
  top: 0;
  left: 0;
}

.playlist-header h2 {
  position: relative;
  display: inline-block;
  width: auto;
  height: 40px;
  padding: 5px 10px;
  margin: 0 5px;
  color: rgba(200, 200, 200, 1);
  font-family: Oswald, sans-serif;
  font-size: 3em;
  font-weight: bold;
}

.playlist-header .active {
  color: var(--dark);
}

.current-queue {
  position: absolute;
  display: block;
  width: 100%;
  height: calc(100vh - 200px);
  top: 40px;
  left: 0;
  overflow: scroll;
}

.song-summary {
  position: relative;
  display: block;
  width: 100%;
  padding: 5px;
  margin: 7px 0;
  border-radius: 3px;
  background-color: var(--gainsboro);
}

.song-summary section {
  position: absolute;
  display: inline-block;
}

.song-score-wrapper {
  height: calc(100% - 10px);
  left: 0;
}

.btn-upvote,
.btn-downvote {
  position: absolute;
  display: block;
  width: 15px;
  height: 14px;
  left: calc(50% - 7.5px);
  border: 7.5px solid transparent;
  cursor: pointer;
  transition: all .3s ease-in-out 0s;
}

.btn-upvote {
  top: 0;
  border-top: 0;
  border-bottom: 10px solid var(--light-grey);
}

.btn-downvote {
  bottom: 0;
  border-bottom: 0;
  border-top: 10px solid var(--light-grey);
}

.vote-mode-normal .btn-upvote:hover,
.btn-upvote.upvoted {
  border-bottom: 10px solid var(--green);
}

.vote-mode-normal .btn-downvote:hover,
.btn-downvote.downvoted {
  border-top: 10px solid var(--red);
}

.vote-mode-veto .btn-upvote:hover,
.btn-upvote.veto-upvoted {
  border-bottom: 10px solid var(--gold);
}

.vote-mode-veto .btn-downvote:hover {
  border-top: 10px solid var(--gold);
}

.vote-mode-super .btn-upvote:hover,
.btn-upvote.super-upvoted {
  border-bottom: 10px solid var(--blue);
}

.vote-mode-super .btn-downvote:hover,
.btn-downvote.super-downvoted {
  border-top: 10px solid var(--blue);
}

.btn-upvote.disabled {
  cursor: not-allowed;
  border-bottom: 10px solid var(--dark-grey); /* #737373 */
}

.btn-downvote.disabled {
  cursor: not-allowed;
  border-top: 10px solid var(--dark-grey); /* #737373 */
}

.queue-score,
.queue-order {
  position: absolute;
  display: block;
  width: 100%;
  height: 14px;
  top: calc(50% - 7px);
  left: 0;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.song-thumb {
  height: 100%;
  top: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.song-duration {
  position: absolute;
  display: block;
  padding: 5px;
  color: white;
  font-size: 1.3em;
  background-color: rgba(0, 0, 0, .5);
}

.song-info {
  height: calc(100% - 10px);
  padding: 10px;
}

.song-title {
  position: absolute;
  display: block;
  top: 10px;
  color: var(--dark);
  font-family: Oswald, sans-serif;
  font-weight: bold;
  line-height: 13px;
}

.submitter-info {
  position: absolute;
  display: block;
  bottom: 10px;
  color: rgb(150, 150, 150);
  font-family: Roboto, sans-serif;
  font-weight: bold;
}

@media (min-width: 751px) {

  .playlist-queue {
    width: 90vw;
    left: 5vw;
  }

  .song-summary {
    height: 60px;
  }

  .song-score-wrapper {
    width: 65px;
  }

  .song-thumb {
    width: 80px;
    left: 65px;
  }

  .song-info {
    width: calc(100% - 150px);
    left: 150px;
  }

  .song-title {
    font-size: 2em;
  }

  .submitter-info {
    font-size: 1.3em;
  }

}

@media (max-width: 750px) {

  .playlist-queue {
    width: 96vw;
    left: 2vw;
  }

  .song-summary {
    height: 70px;
  }

  .song-score-wrapper {
    width: 40px;
  }

  .song-thumb {
    width: 60px;
    left: 40px;
  }

  .song-info {
    width: calc(100% - 100px);
    left: 100px;
  }

  .song-title {
    font-size: 1.5em;
  }

  .submitter-info {
    font-size: 1.1em;
  }

}

/* --- Suggestion Detail ----------------------------------------------------------------- */

.suggestion-detail-modal {
  position: fixed;
  display: block;
  background-color: white;
  border-radius: 5px;
  z-index: 60;
}

.confirm-header {
  position: relative;
  display: block;
  width: 100%;
  height: 40px;
  left: 0;
  top: 0;
  padding: 14px;
  color: var(--dark);
  text-align: center;
  vertical-align: middle;
  font-family: Oswald, sans-serif;
  font-size: 2.5em;
  font-weight: bold;
}

.confirm-buttons {
  position: relative;
  display: block;
  width: 100%;
  height: 60px;
  padding: 15px;
}

.confirm-buttons button {
  position: absolute;
  display: block;
  width: 40%;
  height: 30px;
  padding: 7px;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgb(125, 125, 125, .6);
  color: white;
  text-transform: uppercase;
}

.btn-cancel {
  left: 8%;
  background-color: var(--red);
}

.btn-confirm {
  right: 8%;
  background-color: var(--green);
}

@media (max-width: 750px) {

  .suggestion-detail-modal {
    width: 90vw;
    height: calc(90vw * .6 + 100px);
    left: 5vw;
    top: calc(50vh - calc(90vw * .6 + 100px) / 2);
  }

}

@media (min-width: 751px) {

  .suggestion-detail-modal {
    width: calc(40vh * 1.64);
    height: calc(40vh + 100px);
    left: calc(50vw - calc(40vh * 1.64) / 2);
    top: calc(50vh - calc(40vh + 100px) / 2);
  }

}

/* --- Search & Suggest ------------------------------------------------------------------ */

.search-bar {
  position: absolute;
  display: block;
  width: calc(100vw - 190px);
  height: auto;
  top: 25px;
  left: 95px;
}

.search-query {
  position: relative;
  display: block;
  width: 100%;
  height: 40px;
  padding: 0 8px;
  border: none;
  background-color: rgb(240, 240, 240);
  color: var(--dark);
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 2em;
  z-index: 70;
}

.search-query[disabled] {
  background-color: var(--gainsboro);
  z-index: 0;
}

.suggestions-wrapper {
  position: absolute;
  height: calc(100vh - 100px);
  display: none;
  border: 10px solid var(--gainsboro);
  background-color: var(--gainsboro);
  overflow: scroll;
  opacity: 0;
  z-index: 60;
}

.suggestions-wrapper.show {
  display: block;
  opacity: 1;
}

.search-suggestion {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.search-suggestion img {
  position: relative;
  overflow: hidden;
}

.suggestion-info {
  position: absolute;
  display: block;
}

.search-suggestion span {
  position: absolute;
  display: block;
  width: auto;
  color: white;
  font-family: Oswald, sans-serif;
  box-shadow: 1px 1px 3px rgb(125, 125, 125, .6);
}

.suggestion-title {
  top: 0;
  left: 0;
  font-weight: bold;
}

.song-duration,
.suggestion-duration {
  bottom: 0;
  right: 0;
}

.suggestion-title,
.suggestion-duration {
  background-color: #f12b24;
}

.btn-add-to-queue {
  bottom: 0;
  left: 0;
  border-radius: 3px;
  background-color: var(--green);
  transition: all .3s ease-in-out 0s;
}

.btn-add-to-queue:hover {
  box-shadow: 1px 1px 6px rgb(25, 25, 25, .8);
  background-color: #2eac79;
}

@media (max-width: 600px) {

  .suggestions-wrapper {
    width: 90vw;
    top: 60px;
    left: calc(0% - calc(calc(90vw - 100%) / 2));
  }

}

@media (min-width: 601px) {

  .suggestions-wrapper {
    width: 100%;
    top: 40px;
    left: 0;
  }

}

@media (max-width: 750px) {

  .search-suggestion img {
    width: 100%;
    height: auto;
  }

  .suggestion-info {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    top: 10px;
    left: 10px;
  }

  .search-suggestion span {
    padding: 5px 10px;
    font-size: 2.4em;
    line-height: 18px;
  }

}

@media (min-width: 751px) {

  .search-suggestion {
    padding: 10px;
    background-color: white;
  }

  .search-suggestion img {
    width: 30%;
    height: auto;
  }

  .suggestion-info {
    width: calc(65% - 20px);
    height: calc(100% - 20px);
    top: 10px;
    left: calc(35% + 10px);
  }

  .search-suggestion span {
    padding: 7px;
    font-size: 2em;
    line-height: 14px;
  }

}

/* --- Notifications ------------------------------------------------------------------ */

.notifications {
  position: fixed;
  display: block;
  width: 100vw;
  height: 42px;
  left: 0;
  bottom: 50px;
  overflow: hidden;
  z-index: 70;
}

.notification {
  position: absolute;
  display: block;
  width: 100vw;
  height: 42px;
  transition: bottom .3s ease-in-out 0s;
}

.notification.hide {
  bottom: -42px;
}

.notification.show {
  bottom: 0;
}

.notifText {
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 84px);
  color: white;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  font-family: Roboto, sans-serif;
}

.notification.success,
.notification.success .icon {
  background-color: #60ac7b;
}

.notification.success .icon {
  background: url(../assets/img/successIcon.jpg) transparent 5px 50% no-repeat;
}

.notification.info,
.notification.info .icon {
  background-color: var(--blue);
}

.notification.info .icon {
  background: url(../assets/img/infoIcon.jpg) transparent 5px 50% no-repeat;
}

.notification.error,
.notification.error .icon {
  background-color: var(--red);
}

.notification.error .icon {
  background: url(../assets/img/cancelButtonIcon.jpg) transparent 5px 50% no-repeat;
}

/* --- Profile ----------------------------------------------------------------------- */

.profile {
  position: absolute;
  display: block;
  width: 70px;
  height: 70px;
  top: 10px;
  right: 10px;
  user-select: none;
  overflow: hidden;
  background-color: rgba(66, 66, 66, 0);
  transition: all .3s ease-out 0s;
  z-index: 40;
}

.profile:focus,
.notification:focus {
  outline: none;
  /*border: none;*/
}

.profile.logged-out:hover,
.profile.logged-out:focus {
  height: 120px;
}

.profile.logged-in:hover,
.profile.logged-in:focus {
  height: 220px;
}

.profile:hover,
.profile:focus {
  background-color: rgba(66, 66, 66, 1);
  cursor: pointer;
}

.profile-img {
  position: absolute;
  display: block;
  top: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image: url(../assets/img/defaultProfile.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: all .3s ease-out 0s;
}

.profile:hover .profile-img,
.profile:focus .profile-img {
  outline: none;
  border: 2px solid rgba(254, 254, 254, 1);
}

.profile:hover .profile-options,
.profile-options.show {
  opacity: 1;
}

.profile-options {
  position: absolute;
  width: 50px;
  height: auto;
  top: 65px;
  right: 10px;
  opacity: 0;
  transition: opacity .2s ease-in-out 0s;
}

.profile-options ul li {
  display: block;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.profile-options ul li div {
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  opacity: 0;
  transition: all .5s ease-in .1s;
}

.profile-options ul li div span {
  position: absolute;
  display: block;
  width: 100%;
  height: auto;
  margin-top: 76%;
  left: 0;
  color: white;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 1em;
}

.profile:focus .profile-options ul li div,
.profile:hover .profile-options ul li div {
  opacity: 1;
}

.profile-options ul li .btn-login {
  background-image: url(../assets/svg/loginButton.svg);
}

.profile:focus .profile-options ul li .btn-login,
.profile-options ul li .btn-login:hover {
  background-image: url(../assets/svg/loginButtonHover.svg);
}

.profile-options ul li .btn-toggle-veto {
  background-image: url(../assets/svg/vetoMode.svg);
}

.profile-options ul li .btn-toggle-veto.active,
.profile-options ul li .btn-toggle-veto:hover {
  background-image: url(../assets/svg/vetoModeHover.svg);
}

.profile-options ul li .btn-toggle-super {
  background-image: url(../assets/svg/superMode.svg);
}

.profile-options ul li .btn-toggle-super.active,
.profile-options ul li .btn-toggle-super:hover {
  background-image: url(../assets/svg/superModeHover.svg);
}

.profile-options ul li .btn-logout {
  background-image: url(../assets/svg/logoutButton.svg);
}

.profile:focus .profile-options ul li .btn-logout,
.profile-options ul li .btn-logout:hover {
  background-image: url(../assets/svg/logoutButtonHover.svg);
}

/* --- Login Modal -------------------------------------------------------------------------- */

.login-modal {
  position: fixed;
  display: block;
  width: 300px;
  height: 320px;
  left: calc(50vw - 150px);
  top: calc(50vh - 160px);
  background-color: white;
  border-radius: 5px;
  z-index: 60;
}

.login-modal--logo {
  position: absolute;
  display: block;
  width: 160px;
  height: 160px;
  left: calc(50% - 80px);
  top: -11px;
  background-image: url(../assets/img/districtMusicLogo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.google-signin,
.login-modal--btn-cancel {
  position: absolute;
  display: inline-block;
  width: 200px;
  height: 42px;
  left: calc(50% - 100px);
  border-radius: 5px;
  box-shadow: 1px 1px 2px rgb(125, 125, 125, .5);
  white-space: nowrap;
  overflow: hidden;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  width: 42px;
  height: 42px;
}

.buttonText {
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 42px);
  color: rgb(33, 33, 33);
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  font-family: Roboto, sans-serif;
}

.buttonText a {
  color: rgb(33, 33, 33);
  text-decoration: none;
}

.login-modal--btn-cancel {
  bottom: 20px;
  background-color: rgb(240, 240, 240);
}

.login-modal--btn-cancel .icon {
  background: url(../assets/img/cancelButtonIcon.jpg) transparent 5px 50% no-repeat;
  background-color: var(--red);
}

.google-signin {
  bottom: 75px;
  background-color: rgb(240, 240, 240);
}

.google-signin :hover,
.login-modal--btn-cancel :hover {
  cursor: pointer;
}

.google-signin .icon {
  background: url(https://google-developers.appspot.com/identity/sign-in/g-normal.png) transparent 5px 50% no-repeat;
  background-color: white;
}
